body, html {

}

.block {
    width: 100vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: stretch;
    overflow: hidden !important;
}




.admin_buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 10px;
    justify-content: flex-end;
    width: 95%;
    left: 0;
}

.edit_but {
    background-color: var(--accent);
    color: white;
}

.header {
    background-color: rgba(255, 90, 0, 1);
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
}

.but_color {
    background-color: rgba(255, 90, 0, 1);
}

.item-enter {
    position: absolute;
    transform: translateX(200%);
}

.item-enter-active {
    position: absolute;
    transform: translateX(0%);
    transition: transform 500ms ease-in-out;
}

.item-exit {
    position: absolute;
    transform: translateX(0%);
}

.item-exit-active {
    position: absolute;
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
}

.step_board {
    width: 100vw;
    flex:1;
    margin-top: 50px;
}


.boarding_view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 99vh;
    max-height: 1000vh;
}
.sdfjksdjhkjk{
    overflow: auto;
    overflow-x: hidden;
}
.step_board {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;

}

.boarding_buttons {
    margin-bottom: 10px;
    width: 80%;
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boarding_bottom {
    margin-bottom: 25px;
    box-shadow: inset 0 0 0 1px rgba(255, 90, 0, 1) !important;
    color: rgba(255, 90, 0, 1) !important;
}

.boarding_indicators {
    display: flex;
    flex-direction: row;
    z-index: 22;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.indicator {
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: rgba(231, 231, 231, 0.8);
    transition: all 9ms;
}

.indicators_div {
    flex: .5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.indicator.on {
    transition: all 9ms;

    width: 15px;
    height: 15px;
    background-color: rgba(100, 100, 100, .3);
}

.boarding_indicators button {
    border-radius: 100%;
    outline: none;
    border: 1px solid rgba(255, 90, 0, 1);
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 90, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.this_is_trans_{
    width: 100vw;
}


.item-left-enter {
    position: absolute;
    transform: translateX(-200%);
}

.item-left-enter-active {
    position: absolute;
    transform: translateX(0%);
    transition: transform 500ms ease-in-out;
}

.item-left-exit {
    position: absolute;
    transform: translateX(0%);
}

.item-left-exit-active {
    position: absolute;
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
}
.error_map{

}
.img_d{
    
}
.step_board{
}
/*
.img_d.z{
    width: 20vh;
    height: 20vh;
}*/

.hblock {
    position: relative !important;
    width: 97vw;
    overflow: hidden !important;
    overflow-block: hidden !important;
}
.map__{
    height: 100%;
    overflow: hidden !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#map{
    overflow: hidden !important;
}
.map_load_spinner{
    position: absolute;
}
.hdhdhdhdh{
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
    height: auto !important;
}

.hdhdhdhdh .vkuiPanelHeader__content-in.PanelHeader__content-in{
    white-space: normal;
    align-self: start !important;
    justify-self: start !important;
    display: flex !important;
    position: relative !important;
    font-weight: 700;
    text-align: center;
    font-size: 17px !important;
    overflow-wrap: anywhere !important;
    height: auto !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
ul:not(.kk_k) {
    list-style: none; /* Remove default bullets */
}
ul li{
    margin-bottom: 10px;
}
ul:not(.kk_k) li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--accent); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.buttons_modal{
    display: flex;
    width: 80%;
    justify-self: end;
    margin-top: 20px;
    align-self: center;

}
.kk_k{
    list-style: circle;
    padding: 0;

}
.kk_k li::before{
    color:var(--accent) !important;
    background-color: var(--accent) !important;
}
.left_right{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
}
.left_right button:nth-child(2){
    margin-left:10px !important;
}
.mnmn li{
    margin-top: 15px;
}
.pop_prim{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
}
.pop_cont{
    background-color: white;
    border-radius: 20px;
    width: auto;
    padding: 10px;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.pop_cont img{
    max-width: 300px;
    align-self: center;
}
.asdkl .vkuiModalPage__in.ModalPage__in{
    width: 95%;
}
.checkiin{

}

.kk_k_1 {
    list-style: none; /* Remove default bullets */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0 !important;
}
.kk_k_1 li{
    margin-bottom: 10px;
    width: 100%;
}
.kk_k_1 li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--accent); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.notflex{
    display: block;
}
.notflex li{
    text-align: start;
}
.li_with_im{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex_diov{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}